<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Consulta</title>
</head>
<body>
	<div th:fragment="content">

		<div id="page-content">
			<div class="content-header">
				<ul class="nav-horizontal text-center">
					<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
				</ul>
				<div class="header-section">
					<h1>
						<strong>Bienvenidos a WebErp</strong>
					</h1>
				</div>
			</div>
	
			

			<div class="block">
				<!-- Table Styles Title -->
				<div class="block-title"></div>
				<div class="table-options clearfix">

					<div class="btn-group btn-group-sm pull-left"></div>
				</div>
				<div class="table-responsive">

					

				</div>

			</div>
		</div>
	</div>
</body>
</html>